@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;

  -ms-overflow-style: -ms-autohiding-scrollbar;
}


#noImm {
  display: none;
}

/*No Scrollbar On Chrome */

::-webkit-scrollbar {
  display: none;
}

/* NAV LOGO */

nav ul img.logo{
  margin-top: 2px;
  margin-left: 80px;
  height: 42px;
  width: 350px;
}

/* NAV IT_PAGE */

nav ul img.languages{
  width: 40px;
  height: 40px;
  margin-top: 2px;

}

/* NAV DROPDOWN */

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
    text-decoration: none;
    color: grey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav ul a{
  text-decoration: none;
}


/* NAVIGATION */
nav {
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
nav ul {
  margin: 0;
  height: 44px;
  list-style: none;
  padding: 0 80px 0 40px;
}
nav ul li {
  display: inline-block;
  float: right;
}
nav ul li a {
  display: block;
  padding-top: 10px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #aaa;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  text-decoration: none;
  color: #555;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}




section {
  top: 0;
}

section h1 {
    margin: 0;
    padding: 0;
}

.slant1 {
  margin-top: 0;
  width: 100%;
 height: 500px;
 background-color: #909090;
 clip-path: polygon(
 0 0,
 100% 0,
 100% 100%,
 0 calc(100% - 5vw)
);
}

.slant1 img{
  height: 40vh;
  width: 40vh;
}

.slant1 a {
  float: left;
}

.slant1:hover {
 background-color: #808080;
}

.slant1 p{
  color: #fff;
  font-size: 25px;
  line-height: 1.4;
  margin-top: 11.5vh;
  margin-right: 30vh;
}


.slant2 {
  width: 100%;
  height: 500px;
  margin-top: -5vw;
  background-color: #fff;
}

.slant2 img{
  float: right;
  margin-top: 7vh;
  height: 40vh;
  width: 40vh;

}

.slant2 p{
  color: #787878;
  font-size: 24px;
  line-height: 1.4;
  margin-top: 15vh;
  margin-left: 30vh;
}


.sec2 {
  height: 95vh;
  background-image: url('../img/razzo.png');
  background-repeat: no-repeat;
  background-size: 100% 105vh;
}

.sec2 p{
  position: absolute;
  color: #fff;
  font-size: 40px;
  margin-top: 24%;
  margin-left: 26%;
}

/*Money Images*/

.sec2 img.m1{
  position: absolute;
  margin: 160px 0 0 170px;
  width: 6vh;
  height: 6vh;
}

.sec2 img.m2{
  position: absolute;
  margin: 48vh 0 0 58vh;
  width: 6vh;
  height: 6vh;
}

.sec2 img.m3{
  position: absolute;
  margin: 24vh 0 0 180vh;
  width: 6vh;
  height: 6vh;
}

.sec2 img.m4{
  position: absolute;
  margin: 12vh 0 0 110vh;
  width: 6vh;
  height: 6vh;
}

/*------SHOP------*/

.links{
  height: 1000px;
}

 img.web{
  margin-top: 10px;
  margin-left: calc(50% - 187.5px);
  margin-right:calc(50% - 187.5px);
}

img.dig{
  margin-top: 10px;
  width: 375px;
  margin-left: calc(50% - 187.5px);
  margin-right:calc(50% - 187.5px);
}

img.bus{
  margin-top: 10px;
  margin-left: calc(50% - 187.5px);
  margin-right:calc(50% - 187.5px);
}

.shopbox{
  background-color: #add8e6;
  border-radius: 20px;
  box-sizing: border-box;
  width: 1600px;
  height: 820px;
  margin: 0 auto;
  margin-top: 8vh;
}

.centershop{
  box-sizing: border-box;
  width: 100%;
  margin-left: calc(50% - 750px);
}


/*------FOOTER------*/

footer {
	background-image: url('');
}

#footer_container {
	height: 60px;
	margin: 0 40px;
	padding-top: 0;
}

.social {
	list-style: none;
  margin: 0;
  z-index: -1;
}

.social li a {
	font-size: 20px;
	display: inline;
	float: right;
	margin: 10px 20px 0 0;
	color: #808080;
	text-decoration: none;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.social img{
  width: 35px;
  height: 35px;
}

.copyright_text {
	font-weight: 500;
	margin: 12px 0 0 0;
	float: left;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 0.69em;
	color: #5F5F5F;
}

/*FOOTER END*/

.sec2 .row{
  margin: 0;
}

 .slant1 .row{
   margin: 0;
 }

 .slant2 .row{
   margin: 0;
 }

 .shopbox .row{
   margin: 0;
 }

 .links .row{
   margin: 0;
 }




/*----RESPONSIVE----*/

/*---MEDIUM DEVICES---*/
@media screen and (max-width: 1700px){

  .slant1 img{
    height: 20vh;
    width: 20vh;
  }

  .slant2 img{
    height: 20vh;
    width: 20vh;
  }

  .sec2 p{
  }

  .slant1 p{
    font-size: 22px;
  }

  .slant2 p{
    font-size: 22px;
  }


  .sec2 img.m1{
    display: none;
  }

  .sec2 img.m2{
    display: none;
  }

  .sec2 img.m3{
    display: none;
  }

  .sec2 img.m4{
    display: none;
  }

}



@media screen and (max-width: 1440px){

  .sec2 p{
    font-size: 32px;
    margin-top: 34%;
    margin-left: 22%;
  }

  .slant1 p{
    margin-right: 100px;
  }

  .slant2 p{
    margin-left: 80px;
    margin-top: 120px;
  }

  .shopbox{
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 1200px){

  .shopbox{
    height: 2080px;
  }

  #fix{
    height: 2120px;
  }

  #fix1{
    height: 2230px;
  }

  .links{
    height: 2200px;
  }
}

@media screen and (max-width: 980px){

  .slant1 p{
    font-size: 20px;
  }

  .slant2 p{
    font-size: 20px;
    margin-top: 100px;
  }

}

@media screen and (max-width: 950px){
  nav ul{
    padding: 0;
    height: 84px;
  }

  nav ul img.logo{
    width: 300px;
    height: auto;
    margin-left: calc(50% - 150px);
    margin-right: calc(50% - 150px);
  }

  nav ul li{
    font-size: 16px;
  }

  .dropdown{
    margin-right: calc(50% - 197.58px);
  }

  .sec2 p {
    font-size: 30px;
    margin-left: 19vw;
    margin-top: 20vw;
  }

}

@media screen and (max-width: 800px){



    .slant1{
      height: 520px;
    }
    .slant2{
      height: 550px;
    }

}

@media screen and (max-width: 768px){
  #noImm {
    display: inherit;
  }

  .slant1 img, .slant2 img{
    margin-left: calc(50% - 10vh);
    margin-top: 40px;
    width: 20vh;
    height: 20vh;
  }

  .slant1 p, .slant2 p{
    margin: 0 auto;
    text-align: center;
  }

  #siImm{
    display: none;
  }
}

@media screen and (max-width: 680px){

    .slant1{
      height: 550px;
    }
    .slant2{
      height: 600px;
    }

    .sec2 p{
      font-size: 28px;
    }

}

@media screen and (max-width: 550px){

    .slant1{
      height: 580px;
    }

    .slant2{
      height: 700px;
    }

    .social img{
      width: 28px;
      height: 28px;
    }

    .copyright_text {
      font-size: 0.60em;
      width: 19vh;
    }

}

@media screen and (max-width: 500px){

    .slant1{
      height: 600px;
    }

    .slant2{
      height: 720px;
    }


    .copyright_text {
      font-size: 0.60em;
      width: 19vh;
    }

}

@media screen and (max-width: 450px){

  .sec2{
    background-size:cover;
  }

  .sec2 p{
    font-size: 27px;
  }

  nav ul{
    padding: 0;
    height: 74px;
  }

  nav ul img.logo{
    width: 240px;
    height: auto;
    margin-left: calc(50% - 120px);
    margin-right: calc(50% - 120px);
  }

  nav ul li{
    font-size: 14px;
  }

  .dropdown{
    margin-right: calc(50% - 185.395px);
  }

  nav ul img.languages{
    width: 34px;
    height: 35px;
  }
}

@media screen and (max-width: 425px){


    .slant1{
      height: 700px;
    }

    .slant2{
      height: 780px;
    }


    #footer_container{
      margin: 0;
    }

    .copyright_text{
      margin: 0;
    }

  }

  @media screen and (max-width: 375px){

    .dropdown{
      margin-right: calc(50% - 142.195px);
    }

    nav ul li a{
      margin: 0;
    }

    nav ul img.languages{
      width: 29px;
      height: 30px;
    }

    .slant1{
      height: 680px;
    }



    .slant1 p{
      font-size: 18.5px;
    }

    .slant2 p{
      font-size: 18.5px;
    }

    img.web{
     width: 330px;
     margin-left: calc(50% - 165px);
     margin-right:calc(50% - 165px);
   }

   img.dig{

     width: 330px;
     margin-left: calc(50% - 165px);
     margin-right:calc(50% - 165px);
   }

   img.bus{
     width: 330px;
     margin-left: calc(50% - 165px);
     margin-right:calc(50% - 165px);
   }

   .shopbox{
     height: 1830px;
   }

   .links{
     height: 1930px;
   }

   #fix{
     height: 1930px;
   }

   #fix1{
     height: 2060px;
   }
  }

  @media screen and (max-width: 330px){

    .sec2 p{
      font-size: 24px;
    }

    .slant2{
      height: 820px;
    }

    img.web{
     width: 300px;
     margin-left: calc(50% - 150px);
     margin-right:calc(50% - 150px);
   }

   img.dig{

     width: 300px;
     margin-left: calc(50% - 150px);
     margin-right:calc(50% - 150px);
   }

   img.bus{
     width: 300px;
     margin-left: calc(50% - 150px);
     margin-right:calc(50% - 150px);
   }

   .shopbox{
     height: 1670px;
   }

   .links{
     height: 1780px;
   }

   #fix{
     height: 1760px;
   }

   #fix1{
     height: 1860px;
   }

  }

  @media screen and (max-width: 300px){
    .slant1{
      height: 740px;
    }

    .slant2{
      height: 890px;
    }
  }


/*----RESPONSIVE END----*/
